.idea/

docker-system/.env

docker-system/mariadb/data/*
!docker-system/mariadb/data/.gitkeep

docker-system/nginx/logs/*
!docker-system/nginx/logs/.gitkeep

docker-system/nginx/conf.d/*
!docker-system/nginx/conf.d/.gitkeep

docker-projects/*
!docker-projects/.gitkeep
